*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#0f0f0f;
    color:white;
}

/* HEADER */

header{
    width:100%;
    padding:20px 8%;
    background:#111;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    border-bottom:1px solid #222;
}

.logo img{
    width:180px;
    background:transparent;
}

nav{
    display:flex;
    gap:30px;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:16px;
    transition:0.3s;
}

nav a:hover{
    color:#ffd000;
}

/* HERO */

.hero{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:120px 20px 60px;
    background:
    linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url('../images/Projects (1).jpg');

    background-size:cover;
    background-position:center;
}

.hero-content h1{
    font-size:65px;
    margin-bottom:20px;
}

.hero-content p{
    font-size:20px;
    max-width:700px;
    margin:auto;
    line-height:1.8;
    color:#ddd;
}

.btn{
    display:inline-block;
    margin-top:35px;
    padding:15px 40px;
    background:#ffd000;
    color:black;
    border-radius:50px;
    text-decoration:none;
    font-weight:600;
    transition:0.3s;
}

.btn:hover{
    transform:scale(1.05);
}

/* PROJECTS */

.projects{
    padding:100px 8%;
}

.projects h2{
    text-align:center;
    font-size:45px;
    margin-bottom:60px;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.gallery img{
    width:100%;
    height:320px;

    object-fit:contain;

    background:#111;

    border-radius:20px;

    padding:10px;

    transition:0.4s;
}

.gallery img:hover{
    transform:scale(1.03);
}

/* CONTACT */

.contact{
    padding:100px 20px;
    text-align:center;
    background:#111;
}

.contact h2{
    font-size:45px;
    margin-bottom:20px;
}

.contact p{
    font-size:18px;
    color:#ccc;
    margin-bottom:40px;
}

.socials{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.socials a{
    padding:15px 35px;
    background:#ffd000;
    color:black;
    text-decoration:none;
    border-radius:50px;
    font-weight:600;
    transition:0.3s;
}

.socials a:hover{
    transform:scale(1.05);
}

/* MOBILE */

@media(max-width:768px){

    header{
        flex-direction:column;
        gap:20px;
    }

    .hero-content h1{
        font-size:40px;
    }

    .hero-content p{
        font-size:16px;
    }

    .projects h2,
    .contact h2{
        font-size:35px;
    }

    .gallery img{
        height:250px;
    }

}
